.background-1
{
  height: 100vh;
  width: 100%;
  background-image: url(../assets/images/todd-trapani-brq3YUxtrB0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo
{
  position: absolute;
  background: url(../assets/logo/nt.png);
  height: 10vh;
  width: 10vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin:5vh 10vh;
}
.background-2
{
  height: 20vh;
  width: 100%;
  background: #122032;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 20px 40px 100px #122032;
}
