.head
{
  position: absolute;
  backdrop-filter:blur(5px);
}
.background-1
{
  height: 100vh;
  width: 100%;
  background-image: url(../assets/images/todd-trapani-brq3YUxtrB0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.background-2
{
width: 100%;
height: 100vh;
box-shadow: 0 -80px 80px 30px #382712;
background-image: -webkit-gradient(linear, center top, center bottom, from(#382712), to(#cacedc));
background-image: -webkit-linear-gradient(#382712, #cacedc);
background-image: -moz-linear-gradient(#382712, #cacedc);
background-image: -o-linear-gradient(#382712, #cacedc);
background-image: -ms-linear-gradient(#382712, #cacedc);
background-image: linear-gradient(#382712, #cacedc);
background-repeat: no-repeat;
background-size: cover;
z-index: 1;
}
