body
{
  display: grid;

}
 .head
{
  backdrop-filter:blur(5px);
  position: fixed;
  z-index: 5;
  height: 10vh;
}
.logo_link
{
  color: #ffffff;
}
.logo_link:hover
{
  text-decoration: none;
  color: #ffffff;
}
.search-box
{
  margin: auto;
}
.search-input
{
  border: none;
  background: none;
  border-bottom: solid 2px #FFFFFF;
  width: 50vh;
  color: #FFFFFF;
  font-size: 13pt;
  margin-top: 2%;
  cursor: pointer;
}
.search-input::placeholder
{
  color: #FFFFFF;
}
.search-go
{
  margin: 0 1%;
  border: none;
  height:3vh;
  width:3vh;
  background: url(../assets/logo/awesome-search.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.login_btn
{
  color:#ffffff;
  padding: 15px 35px;
  font-size: 12pt;
  background-color: rgba(0, 130, 255, 0.7);
  box-shadow: 0px 0 10px 2px rgba(0, 130, 255,0.7);
  border: none;
  border-radius: 100px;
  transition-duration: 0.3s;
}
.login_btn:hover
{
  color: white;
  text-decoration: none;
  background-color: rgb(0, 130, 255);
  box-shadow: 0px 0 10px 8px rgb(0, 130, 255);
}
.background-1
{
  background-image: url(../assets/images/todd-trapani-brq3YUxtrB0-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  position: fixed;
}
.content-viewer
{
  top: 15vh;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: auto;
  border-radius: 20px;
}
/*need to build upload tile , kind of redirection page to upload form*/
.foot
{
  background-color: #ffffff;
  height: 25vh;
  position: fixed;
  bottom: 0px;
}
